<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Nova Venda</h1>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row" ng-controller='ContatosController'>
        <label>Cliente</label>
        <select class="form-control limpa" [(ngModel)]="model.cliente">
          <option value="" selected></option>
          <option *ngFor="let contatos of contato">{{contatos.nome}}</option>
        </select>
      </div>
      <br>
      <!-- _________________________________________________  -->
      <div class="row">
        <div class="form-group">
          <label>Produtos: </label>
          <select class="form-control limpa" [(ngModel)]="model.produto">
            <option value="" selected></option>
            <option *ngFor="let venda of produto" value="{{venda._id}}">{{venda.nome}}</option>
          </select>
        </div>
      </div>
      <div class="form-group col-md-offset-3">
        <button type="submit" (click)="onAdd()" class="btn btn-outline btn-success btn-lg col-md-6">Salvar</button>
        <button type="submit" (click)="onSend()" class="btn btn-outline btn-info btn-lg col-md-6">Enviar</button>
      </div>
    </div>
    <!-- Segunda Coluna __________________________________________ -->
    <div class="col-lg-6">
      <h1>
        <small>Valor Total: {{valorTotal}}</small>
      </h1>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Cliente</th>
                <th>Produto</th>
                <th>Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let lista of arrayModel">
                <td>
                  <a>{{lista.cliente}}</a>
                </td>
                <td>{{filtraObbj(lista.produto).nome}}</td>
                <td>{{lista.valor}}</td>
              </tr>
              <tr>
                <td>
                  <a>{{model.cliente}}</a>
                </td>
                <td>{{model.produto}}</td>
                <td>{{model.valor}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>