<div id="page-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Cadastro de Cliente</h1>
            </div>
        </div>
          <!-- tudo para baixo vai aparecer na pagina -->
        <div class="row">
          <div class="form-group col-md-5">
            <label>Nome do Cliente</label>
            <input class="form-control" placeholder="Digite o nome do cliente">
          </div>
          <div class="form-group col-md-3">
            <label>RG</label>
            <input class="form-control" placeholder="Digite o RG do cliente">
          </div>
          <div class="form-group col-md-3">
            <label>CPF</label>
            <input class="form-control" placeholder="Digite o CPF do cliente">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-2">
            <label>Data de Nascimento</label>
            <input class="form-control" placeholder="Digite a data de nascimento do cliente" type="date">
          </div>
          <div class="form-group col-md-3">
            <label>Telefone</label>
            <input class="form-control" placeholder="Digite o Telefone do cliente">
          </div>
          <div class="form-group col-md-3">
            <label>Celular</label>
            <input class="form-control" placeholder="Digite o Celular do cliente">
          </div>
          <div class="form-group col-md-3">
            <label>Email</label>
            <input class="form-control" placeholder="Digite o Email do cliente">
          </div>
        </div>
        <hr style="height:2px; width:91.5%; float: left;  border:none; color:#333; background-color:#333; margin-top: 15px; margin-bottom: 15px;"/>

        <div class="row">
          <div class="form-group col-md-3">
            <label>Rua</label>
            <input class="form-control" placeholder="Digite a Rua do cliente">
          </div>
          <div class="form-group col-md-2">
            <label>Numero</label>
            <input class="form-control" placeholder="Digite o Numero" >
          </div>
          <div class="form-group col-md-3">
            <label>Complemento</label>
            <input class="form-control" placeholder="Digite o complemento">
          </div>
          <div class="form-group col-md-3">
            <label>Bairro</label>
            <input class="form-control" placeholder="Digite o Bairro">
          </div>
          <div class="form-group col-md-2">
            <label>CEP</label>
            <input class="form-control" placeholder="Digite o CEP">
          </div>
          <div class="form-group col-md-1">
            <label>UF</label>
            <input class="form-control" placeholder="Digite a UF">
          </div>
        </div>
        <button type="button" class="btn btn-outline btn-success btn-lg col-md-offset-9">Salvar</button>
        <button type="button" class="btn btn-outline btn-danger btn-lg">Cancelar</button>
    </div>
</div>
