<div id="page-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Serviços</h1>
            </div>
        </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <!-- <th>E-mail</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ser of servicos">
                    <td><a>{{ser.nome}}</a></td>
                    <td>{{ser.descricao}}</td>
                    <td>R$ {{ser.valor}}</td>
                    <!-- <td>{{cli.email}}</td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          <!-- /.table-responsive -->
          </div>

    </div>
</div>
